@model E_Exam.Models.ExamStructure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExamStructure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chapter.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MCQQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MCQQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TFQuestions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TFQuestions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
